
@import url(//db.onlinewebfonts.com/c/51fdf8021065497210ca54837e1601e9?family=Neue+Einstellung);


body {
    margin:  3.764062063428em auto;
    width: 100%;

    background: #dc3545;
    transition: 3s;
    font-family: "Neue Einstellung",Helvetica Neue, Helvetica, Arial, sans-serif;


}
#slide.blurb {


    background: transparent;
    float: left;
    clear:left;


}
#icon{
    font-family:inherit;
    background:transparent;
    fill: #fff;
    transition: 3s;
    float: left;
    clear: left;
    margin-left: 1em;
    margin-top: 1em;
}


nav ul, footer ul {
    font-family:inherit;
    padding: 0px;
    list-style: none;
    font-weight: inherit;

}
nav ul li, footer ul li {
    display: inline;
    margin-right: 20px;
    float: right;
    fill: #ffffff;
    background: inherit;
    font-size: 1em;
    padding-left: 2em;
    padding-right: 2em;

}
a {
    text-decoration: none;
    color: #fafafa;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 7.4em;
    font-family: "Neue Einstellung",Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    font-weight: 800;
    letter-spacing: -.03em;
    line-height: 100%;
    margin-left: 3em;

}
p {
    font-size: 7.4em;
    font-family: "Neue Einstellung",Helvetica Neue, Helvetica, Arial, sans-serif;
    color: #fff;
    text-align: left;
    font-weight: 800;
    letter-spacing: -.03em;
    line-height: 100%;
    clear: left;
    float:left;
    vertical-align: baseline;
    background: transparent;

}
footer {
    border-top: 1px solid inherit;
    font-size: .8em;


}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
    color: #ffff;
}

