<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link href="//db.onlinewebfonts.com/c/51fdf8021065497210ca54837e1601e9?family=Neue+Einstellung" rel="stylesheet" type="text/css"/>
		</head>
		<body>
		<svg id="icon" height="33" width="339">

			<text x="0" y="14" >SANTI ON ANDROID</text>

		</svg>

			<nav >
	    		<ul>
	        		<li id="quote">Sol·licitar un pressupost</li>
		        	<li><a href="/about">Blog</a></li>
	        		<li><a href="/cv">Solutions</a></li>
	        		<li><a href="/blog">Treballs</a></li>
					<li><a href="/request">Sobre nosaltres</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:">email</a></li>
	        		<li><a href="https://github.com/hankquinlan">github.com/</a></li>
				</ul>
			</footer>
		</body>
	</html>
